<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headers::head(title='Items')"></head>
<body>
<nav th:replace="fragments/navbar::nav"></nav>
<main class="container">
    <div>
        <h2>Income journal</h2>
        <a th:href="@{/journal/income/add}">Add a new record</a>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Document number</th>
                    <th scope="col">Item id</th>
                    <th scope="col">Company id</th>
                    <th scope="col">Date</th>
                    <th scope="col">Price</th>
                    <th scope="col">Amount</th>
                    <th colspan="3">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr  th:each="incomeRecord : ${incomeRecordsList}">
                    <th scope="row" th:utext="${incomeRecord.getId()}">...</th>
                    <td th:utext="${incomeRecord.getDocumentNumber()}">...</td>
                    <td th:utext="${incomeRecord.getItem().getId()}">...</td>
                    <td th:utext="${incomeRecord.getCompany().getId()}">...</td>
                    <td th:utext="${incomeRecord.getDate()}">...</td>
                    <td th:utext="${incomeRecord.getPrice()}">...</td>
                    <td th:utext="${incomeRecord.getAmount()}">...</td>
                    <td class="text-center"><a th:href="@{/journal/income/{id}(id=${incomeRecord.getId()})}" class="btn btn-success">More</a></td>
                    <td class="text-center"><a th:href="@{/journal/income/{id}/edit(id=${incomeRecord.getId()})}" class="btn btn-primary">Edit</a></td>
                    <td class="text-center">
                        <form th:action="@{/journal/income/{id}(id=${incomeRecord.getId()})}" th:method="DELETE">
                        <input type="submit" class="btn btn-danger container" value="Remove"/>
                    </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
</body>
</html>