<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headers::head(title='Items')"></head>
<body>
<nav th:replace="fragments/navbar::nav"></nav>
<main class="container">
  <div>
    <h2>Add Item</h2>
    <form th:action="@{/items}" th:object="${addItemForm}" th:method="POST">
      <div class="form-group">
        <label th:for="vendor">Item's Vendor</label>
        <input type="text" class="form-control" placeholder="Enter item's vendor" th:field="*{vendor}"/>
        <div class="error" th:if="${#fields.hasErrors('vendor')}" th:errors="*{vendor}">Vendor error</div>
      </div>
      <div class="form-group">
        <label th:for="name">Item's name</label>
        <input type="text" class="form-control" placeholder="Enter item's name" th:field="*{name}"/>
        <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
      </div>
      <div class="form-group">
        <label th:for="unit">Unit of measurement</label>
        <input type="text" class="form-control" placeholder="Enter unit of measurement" th:field="*{unit}"/>
        <div class="error" th:if="${#fields.hasErrors('unit')}" th:errors="*{unit}">Unit error</div>
      </div>
      <div class="form-group">
        <label th:for="weight">Weight</label>
        <input type="text" class="form-control" placeholder="Enter weight" th:field="*{weight}"/>
        <div class="error" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}">Weight error</div>
      </div>
      <div class="form-group">
        <label th:for="reserveRate">Reserve rate</label>
        <input type="number" class="form-control" placeholder="Enter reserve rate" th:field="*{reserveRate}"/>
        <div class="error" th:if="${#fields.hasErrors('reserveRate')}" th:errors="*{reserveRate}">Reserve rate error</div>
      </div>
      <div class="form-group pt-1">
        <input type="submit" class="btn btn-success container" value="Add"/>
      </div>
    </form>
  </div>
</main>
</body>
</html>